[submodule "home/.vim/bundle/jedi-vim"]
	path = home/.vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "home/.vim/bundle/supertab"]
	path = home/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "home/.vim/bundle/ctrlp"]
	path = home/.vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-surround"]
	path = home/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "home/.vim/bundle/khuno"]
	path = home/.vim/bundle/khuno
	url = https://github.com/alfredodeza/khuno.vim.git
[submodule "home/.vim/bundle/coveragepy"]
	path = home/.vim/bundle/coveragepy
	url = https://github.com/alfredodeza/coveragepy.vim.git
[submodule "home/.vim/bundle/vim-argumentative"]
	path = home/.vim/bundle/vim-argumentative
	url = https://github.com/PeterRincker/vim-argumentative.git
[submodule "home/.vim/bundle/hardy"]
	path = home/.vim/bundle/hardy
	url = https://github.com/4Evergreen4/vim-hardy.git
[submodule "home/.vim/bundle/YankRing"]
	path = home/.vim/bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "home/.vim/bundle/terraform"]
	path = home/.vim/bundle/terraform
	url = https://github.com/hashivim/vim-terraform.git
[submodule "home/.vim/bundle/Dockerfile"]
	path = home/.vim/bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "home/.vim/bundle/vim-json"]
	path = home/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "home/.vim/bundle/vim-python-pep8-indent"]
	path = home/.vim/bundle/vim-python-pep8-indent
	url = https://github.com/Vimjas/vim-python-pep8-indent.git
[submodule "home/.vim/bundle/vim-isort"]
	path = home/.vim/bundle/vim-isort
	url = https://github.com/fisadev/vim-isort.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/vim-jsx"]
	path = home/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
