[user]
	name = Aaron McMillin
	email = github@aaron.mcmillinclan.org
[push]
	default = current
[color]
	ui = true
[alias]
    dif = diff
    pr = pull --rebase
    lc = log ORIG_HEAD.. --stat --no-merges
    st = status
	unpushed = log --branches --not --remotes --simplify-by-decoration --decorate --oneline --graph
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	pager = less -FRXS
[merge]
	tool = vimdiff
